.contact--sec {
  padding: 50px 50px 150px;
  overflow: hidden !important;
  background-color: red;
}
.contact--sec h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
.contact--sec-talk {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.contact--sec-talk a {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 10px 40px;
  background-color: var(--secondary-color);
  font-size: 16px;
  color: white;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  box-shadow: -5px -5px 0px rgba(112, 204, 133, 0);
}
.contact--sec-talk a:hover {
  background: linear-gradient(
    45deg,
    var(--main-color) 15%,
    var(--secondary-color) 65%
  );
}
.contact-contact-con {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}
.phone-con,
.address-con,
.email-con {
  min-width: 300px;
  transition: transform 0.5s, box-shadow 0.5s;
  background-color: white;
  position: relative;
  padding: 35px 30px;
  flex: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}
.phone-con:hover,
.address-con:hover,
.email-con:hover {
  background: linear-gradient(
    45deg,
    var(--secondary-color) 15%,
    var(--main-color) 65%
  );
  transform: translateY(-10px);
  color: white;
}
.phone-con:hover {
  box-shadow: -10px -10px 0px rgba(255, 0, 0, 0.5);
}
.address-con:hover {
  box-shadow: 10px 10px 0px rgba(255, 0, 0, 0.5);
}
.phone-con .phone-ab,
.address-con .address-ab {
  position: absolute;
  padding: 50px;
  z-index: -1;
}
.phone-con:hover {
  box-shadow: -10px -10px 0px rgba(255, 0, 0, 0.5);
}
.address-con:hover {
  box-shadow: 10px 10px 0px rgba(255, 0, 0, 0.5);
}
.phone-con span {
  top: -10px;
  left: -10px;
  transition: opacity 0.5s;
  border-top: 10px solid red;
  border-left: 10px solid red;
}
.address-con span {
  bottom: -10px;
  right: -10px;
  transition: opacity 0.5s;
  border-bottom: 10px solid red;
  border-right: 10px solid red;
}
.phone-con:hover .phone-ab {
  opacity: 0;
}
.address-con:hover .address-ab {
  opacity: 0;
}
.phone-con .icon,
.address-con .icon,
.email-con .icon {
  font-size: 50px;
  color: transparent;
  background: linear-gradient(
    45deg,
    var(--secondary-color) 15%,
    var(--main-color) 65%
  );
  background-clip: text;
  transition: color 0.15s;
}
.phone-con:hover .icon,
.address-con:hover .icon,
.email-con:hover .icon {
  color: white;
}
.phone-con .link,
.address-con .link,
.email-con .link {
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color 0.15s;
}
.phone-con:hover .link,
.address-con:hover  .link,
.email-con:hover .link {
  color: white;
}
.contact-contact-con p {
  transition: color 0.15s;
}

/* contact map */
.contact--map-sec {
  padding: 0 0 100px;
}

/* contact form */
.contact--form-sec {
  padding: 50px 50px 150px;
}
.contact--form-sec h1 { 
  font-size: 50px;
  margin-bottom: 10px;
  text-align: center;
}
.contact--form-sec p { 
  font-size: 16px;
  margin-bottom: 60px;
  text-align: center;
  color: grey;
}
.con {
  display: flex;
  justify-content: center;
}
form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 0 100px;
}
.input-con {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.input-con input {
  padding: 12px 15px;
  width: 100%;
  font-size: 16px;
  color: grey;
  border: 1px solid rgb(128, 128, 128, 0.5);
}
textarea {
  color: grey;
  border: 1px solid rgb(128, 128, 128, 0.5);
  font-size: 16px;
  width: 100%;
  padding: 12px 15px;
  max-height: 300px;
  margin-bottom: 10px;
  resize: none;
}
.input-con input:focus,
textarea:focus {
  outline: 1px solid rgb(128, 128, 128, 0.3);
}
.button-con {
  width: 100%;
}
form button {
  padding: 10px 30px;
  background-color: var(--secondary-color);
  font-size: 16px;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: -5px -5px 0px rgba(112, 204, 133, 0);
  border-radius: 2px;
}
@media (max-width: 1132px) {
  .contact--sec,
  .contact--form-sec {
    padding: 50px 35px 150px;
  }
}
@media (max-width: 1002px) {
  .contact--sec,
  .contact--form-sec {
    padding: 50px 20px 150px;
  }
  form {
    padding: 0 50px;
  }
}
@media (max-width: 812px) {
  .contact--sec h1 {
    font-size: 2.5em;
    text-align: center;
  }
  .contact--sec-talk {
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .phone-con:hover {
    box-shadow: none;
  }
  .address-con:hover {
    box-shadow: none;
  }
  .phone-con span {
    border: none
  }
  .address-con span {
    border: none
  }
  .input-con { 
    grid-template-columns: 1fr;
  }

  form {
    padding: 0;
  }
}
