/* when window is scrolled */
.win-scrl {
  top: 0;
  opacity: 1;
  transition-delay: 0.75s;
}

#slider {
  overflow: hidden;
  position: absolute;
  top: 0;
  height: inherit;
  z-index: -1;
}
#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  height: inherit;
  animation: 20s slider infinite;
}
#slider figure img {
  float: left;
  width: 20%;
  height: 100%;
  object-fit: cover;
  /* object-position: top; */
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

/* ----- HERO ----- */
.home--hero--sec {
  /* background-image: url(../background-images/hands-reaching-pot.png); */
  background-color: rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  text-size-adjust: 100%;
  height: 100vh;
  overflow: hidden;
}
.home--hero--text-div {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}
.home--hero--text-div h1 {
  font: 96px poppins, sans-serif;
  margin-top: -50px;
  font-weight: 900;
  max-width: 950px;
  letter-spacing: -1px;
  text-align: center;
  line-height: 120px;
  background: linear-gradient(
    45deg,
    var(--secondary-color) 15%,
    var(--main-color) 65%
  );
  background-clip: text;
  color: transparent;
}
@keyframes arrow {
  0% {
    transform: translateY(-10px);
  }
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(-2px);
  }
  60% {
    transform: translateY(2px);
  }
  80% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(10px);
  }
}
.home--hero--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 96px;
  padding: 10px 25px;
  background-color: var(--main-color);
  font-size: 16px;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: -5px -5px 0px rgba(112, 204, 133, 0);
  position: relative;
}
.home--hero--btn .arrow-down {
  font-size: 16px;
  left: 20px;
  animation: arrow 1s ease infinite;
}
.home--hero--btn:hover {
  background: linear-gradient(
    45deg,
    var(--secondary-color) 15%,
    var(--main-color) 65%
  );
}
.swipe-pagination-bullet {
  background: linear-gradient(
    45deg,
    var(--secondary-color) 15%,
    var(--main-color) 65%
  );
  padding: 3px 20px;
  align-self: center;
}

/* ----- SERVICE ----- */
.home--service-sec {
  padding: 150px 0 0;
}
.home--service--con {
  padding-bottom: 150px;
}
.home--service--flx-con {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.home--service--flx-bx {
  max-width: 350px;
  padding: 20px;
  transition: all 0.3s;
  min-width: 300px;
}
/* .home--service--flx-bx:hover {
  margin-top: -20px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
  border: none;
} */
.home--service--icon-con {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: var(--main-color);
  margin-bottom: 15px;
}
.home--service--flx-bx h2 {
  margin-bottom: 15px;
  text-align: center;
}
.home--service--txt {
  text-align: center;
}
.home--service--button-con {
  display: flex;
  justify-content: center;
}
.home--service-sec button {
  display: flex;
  align-items: center;
  gap: 10px;
  font: 16px Poppins, sans-serif;
  padding: 10px 30px;
  background-color: var(--main-color);
  font-size: 16px;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: -5px -5px 0px rgba(112, 204, 133, 0);
}
.home--service-sec button:hover {
  background: linear-gradient(
    45deg,
    var(--secondary-color) 15%,
    var(--main-color) 65%
  );
}
.home--service--bullet {
  background: linear-gradient(
    45deg,
    var(--secondary-color) 15%,
    var(--main-color) 65%
  );
  padding: 55px 2.2px;
  align-self: center;
  position: absolute;
  bottom: 0;
  right: 50%;
  left: 50%;
  z-index: 3;
  margin-bottom: -292px;
}
.home--service--portfolio {
  background-color: whitesmoke;
  padding: 120px 50px;
}
.home--service-sec h1 {
  font-size: 50px;
}
.home--service--portfolio span {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 30px;
  justify-content: space-between;
  margin-bottom: 75px;
}
.home--service--portfolio-img-con {
  height: 350px;
  position: relative;
}
.gallery {
  display: flex;
  height: 100%;
  gap: 10px;
  overflow-x: scroll;
}
.gallery::-webkit-scrollbar {
  display: none;
}
.gallery div {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  flex: none;
}
.gallery div span {
  width: 100%;
}
.gallery div img {
  filter: grayscale(20%);
  width: 100%;
  height: 320px;
  object-fit: contain;
  transition: transform 0.5s;
  cursor: pointer;
}
.gallery div img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
.h--s--p-img-prev,
.h--s--p-img-next {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(100px);
  color: white;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  height: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  font-size: 30px;
}
.h--s--p-img-prev {
  left: 10px;
  bottom: 50%;
  top: 40%;
}
.h--s--p-img-next {
  right: 10px;
  top: 40%;
  bottom: 50%;
}

/* ----- ABOUT ----- */
.home--about-sec {
  padding: 120px 50px;
}
.home--about-sec h1 {
  margin-bottom: 50px;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
}
.home--about-sec h1::after {
  content: "";
  flex: 1;
  padding: 3.5px 10px;
  background: linear-gradient(
    45deg,
    var(--secondary-color) 15%,
    var(--main-color) 65%
  );
  align-items: center;
}
.home--about--flx-con {
  display: flex;
  align-items: top;
  justify-content: center;
  gap: 30px;
}
.home--about--flx-con a {
  text-underline-offset: 5px;
  cursor: pointer;
  color: var(--secondary-color);
}
.home--about--flx-con a:hover {
  text-decoration: underline;
}
.home--about--flx-con span {
  color: var(--main-color);
  font-style: italic;
}
.home--about--flx-con img {
  height: 500px;
  object-fit: contain;
}
.home--about-sec p {
  margin-top: 20px;
  line-height: 35px;
  font-size: 20px;
}

@media (max-width: 1132px) {
  .home--service--portfolio {
    padding: 120px 35px;
  }
  .home--about-sec {
    padding: 120px 35px;
  }
}
@media (max-width: 1010px) {
  .home--hero--text-div h1 {
    font-size: 79px;
    max-width: 850px;
    line-height: 95px;
  }
}
@media (max-width: 1002px) {
  .home--service--portfolio {
    padding: 120px 20px;
  }
  .home--about-sec {
    padding: 120px 20px;
  }
}

@media (max-width: 812px) {
  .home--hero--sec {
    height: 90vh;
  }
  .home--hero--text-div h1 {
    font-size: 63px;
    max-width: 650px;
    line-height: 75px;
  }
  .home--hero--btn {
    margin: 40px 0 134px;
  }
  .home--about--flx-con {
    flex-direction: column;
  }
  .home--about-sec h1 {
    font-size: 2.5em;
  }
  .gallery div {
    grid-template-columns: auto auto;
  }
  .gallery div .img3 {
    display: none;
  }
}
@media (max-width: 704px) {
  .home--hero--text-div h1 {
    font-size: 56px;
    max-width: 550px;
    line-height: 68px;
  }
  .home--hero--btn {
    margin: 40px 0 148px;
  }
  .home--service--portfolio h1 {
    text-align: center;
  }
  .home--service--portfolio span {
    flex-direction: column;
  }
  .home--about-sec p {
    text-align: center;
  }
  .home--about-sec h1::before {
    content: "";
    flex: 1;
    padding: 3.5px 10px;
    background: linear-gradient(
      45deg,
      var(--main-color) 15%,
      var(--secondary-color) 65%
    );
    align-items: center;
  }
}
@media (max-width: 500px) {
  .home--about-sec h1:before,
  .home--about-sec h1:after {
    display: none;
  }
  .gallery div {
    grid-template-columns: auto;
  }
  .gallery div .img2 {
    display: none;
  }
}
@media (max-width: 450px) {
  .home--hero--text-div h1 {
    font-weight: 900;
  }
  .hero-header {
    font-weight: 900;
  }
  .home--about-sec h1 {
    display: flex;
    justify-content: center;
  }
  .home--about-sec h1::before {
    display: none;
  }
  .home--about-sec h1::after {
    display: none;
  }
}
