.service--portfolio-sec {
  padding: 100px 50px;
}


/* ----- SERVICE ----- */
.home--service-sec {
  padding: 50px 0 0;
}
.home--service--flx-con {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.home--service--flx-bx {
  max-width: 350px;
  padding: 20px;
  transition: all 0.3s;
  min-width: 300px;
}
.home--service--icon-con {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: var(--main-color);
  margin-bottom: 15px;
}
.home--service--flx-bx h2 {
  margin-bottom: 15px;
  text-align: center;
}
.home--service--txt {
  text-align: center;
}
.home--service--bullet {
  background: linear-gradient(
    45deg,
    var(--secondary-color) 15%,
    var(--main-color) 65%
  );
  padding: 55px 2.2px;
  align-self: center;
  position: absolute;
  bottom: 0;
  right: 50%;
  left: 50%;
  z-index: 3;
  margin-bottom: -150px;
}
.service--portfolio-sec {
  background-color: whitesmoke;
}
.service--portfolio-sec h1 {
  margin-bottom: 30px;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
}
.service--portfolio-sec h1::after {
  content: "";
  flex: 1;
  padding: 3.5px 10px;
  background: linear-gradient(
    45deg,
    var(--secondary-color) 15%,
    var(--main-color) 65%
  );
  align-items: center;
}

.clientele-con {
  padding-bottom: 50px;
}
.clientele-con h3 {
  margin-bottom: 30px;
  text-align: center;
  font-style: italic;
}
.clientele-bx {
 border: 2px solid var(--main-color);
 padding: 30px;
 display: flex;
 flex-wrap: wrap;
 column-gap: 20px;
 justify-content: space-between;
}

.service--portfolio-con {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}
.service--portfolio-title-con {
  border-top: 2px solid var(--main-color);
}
.service--portfolio-title-con h3 {
  position: sticky;
  top: 200px;
  font-size: 25px;
}
.service--portfolio-img-con {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  border-top: 2px solid var(--secondary-color);
  border-left: 2px solid var(--secondary-color);
  padding: 10px;
}
.service--portfolio-img-con img {
  max-height: 400px;
  object-fit: contain;
  width: 100%;
  /* box-shadow: -20px -20px 0 var(--main-color); */
}

@media (max-width: 1132px) {
  .service--portfolio-sec {
    padding: 100px 35px;
  }
}
@media (max-width: 1002px) {
  .service--portfolio-sec {
    padding: 100px 20px;
  }
}

@media (max-width: 812px) {
  .service--portfolio-sec h1 {
    font-size: 2.5em;
  }
  .service--portfolio-sec h1:before {
    content: "";
    flex: 1;
    padding: 3.5px 10px;
    background: linear-gradient(
      45deg,
      var(--main-color) 15%,
      var(--secondary-color) 65%
    );
    align-items: center;
  }
}
