.service--portfolio-sec {
  padding: 100px 50px;
}
.service--portfolio-sec h1 {
  margin-bottom: 80px;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
}
.service--portfolio-sec h1::after {
  content: "";
  flex: 1;
  padding: 3.5px 10px;
  background: linear-gradient(
    45deg,
    var(--secondary-color) 15%,
    var(--main-color) 65%
  );
  align-items: center;
}
.service--portfolio-con {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}
body {
  padding-bottom: 1000px;
}
.service--portfolio-title-con {
  border-top: 2px solid var(--main-color);
}
.service--portfolio-title-con h3 {
  position: sticky;
  top: 200px;
  font-size: 25px;
}
.service--portfolio-img-con {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  border-top: 2px solid var(--secondary-color);
  border-left: 2px solid var(--secondary-color);
  padding: 10px;
}
.service--portfolio-img-con img {
  max-height: 400px;
  object-fit: contain;
  width: 100%;
  /* box-shadow: -20px -20px 0 var(--main-color); */
}

@media (max-width: 1132px) {
  .service--portfolio-sec {
    padding: 100px 35px;
  }
}
@media (max-width: 1002px) {
  .service--portfolio-sec {
    padding: 100px 20px;
  }
}

@media (max-width: 812px) {
  .service--portfolio-sec h1:before {
    content: "";
    flex: 1;
    padding: 3.5px 10px;
    background: linear-gradient(
      45deg,
      var(--main-color) 15%,
      var(--secondary-color) 65%
    );
    align-items: center;
  }
}
