footer {
  background-color: rgb(20, 20, 20);
  color: white;
}
.footer--contact-con {
  display: flex;
  align-items: center;
  padding: 30px;
  border-bottom: 1.5px solid white;
  background-color: rgb(15, 15, 15);
}

.footer--contact-con a, 
.footer--contact-con p {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 10px;
}
.footer--contact-con ion-icon {
  font-size: 20px;
}
.footer--contact-con .i {
  border-right: 1px solid white;
}
.footer--contact-con .iii {
  border-left: 1px solid white;
}
.footer--social-con {
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.footer--social-con div {
  background-color: red;
  height: 100%;
}